<center><h1> Welcome and Enjoy Art!</h1>

<center><p>This website is for Art Lovers, If you are looking for somewhere
<p>to buy art then this is the place to become a member,
<p>We sell all types of art from sculpture to paintings.
<p>This is a free service and a worthwhile service.
<h1><p>Join Now!</h1>

<a href="http://www.facebook.com">Find us on Facebook Page</a>
<p>
<a href="https://developers.facebook.com/docs/reference/plugins/subscribe">Subscribe</a>
<p>
<a href="https://twitter.com/intent/tweet?screen_name=mariacwc" 
class="twitter-mention-button">Tweet to @mariacwc</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName
(s)[0],p=/^http:/.test(d.location)?'http':'https';
if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+':
//platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);
}}(document, 'script', 'twitter-wjs');</script>

<%= yield %>